bcrypt==4.0.1
black==23.3.0
flask==2.2.3
mongoengine==0.27.0
moviepy==1.0.3
openai-whisper==20230314
pandas==2.0.0
pip-chill==1.0.3
pip-tools==6.13.0
pydantic==1.10.7
python-dotenv==1.0.0
pytube==15.0.0
yt-dlp==2023.6.22